.btn-secondary {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size:1.2rem;
    background-color: #bd0026;
    border-color: #bd0026;
    
}
.btn-secondary:hover {
    color: #fff;
    background-color: #bd0026;
    border-color: #bd0026;

}