/* Slider */

.affiche-size {
    width: auto;
    max-width: 300px;
}

.carousel-control-prev-icon {
    background-image: url(images/left-icone.png);
    margin-right: 120px;
}

.carousel-control-next-icon {
    background-image: url(images/right-icone.png);
    margin-left: 120px;
}