footer {
	background-color: #bd0026;
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 15px;
}

footer li a {
	color: white;
	padding: 15px;
	margin-top: 5px;
}

footer li a:hover {
	color: #dcdcdc;
}

.list-inline li {
	display: inline;
}

.my-moovs-footer {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
}

.copyright {
	color: white;
}