nav {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
}
.navbar-toggler-icon {
    background-image: url(images/menu.png);
}
.my-moovs {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #bd0026;
    margin-bottom: 15px;
}

.my-moovs:hover {
    color: #bd0026;
}

.menu-parcourir {
    color: black;
    font-size: 18px;
}

.menu-parcourir:hover {
    color: black;
}

.form-control {
    border: 1px solid #bd0026;
    left:left;
}

.navbar-collapse {
}

.form-inline {
    display: flex;
    flex-wrap: nowrap;
}

.bouton-go {
    font-family: 'Pacifico', cursive;
    color: white;
    background-color: #bd0026;
}

.matt-damon {
    height: 60px;
    width: 60px;
}
.dropdown-menu {
    position: absolute; /* postulat de départ */
  top: 100%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%); /* décalage de 50% de sa propre taille */   
    z-index: -1;
    display: none;
    /* float: left; */
    min-width: 10rem;
    padding: 0;
    margin-top:0;
    font-size: 1.3rem;
    color: #bd0026;
    text-align: left;
    list-style: none;
    background-color: rgba(255,255,255,0.98);
/*     background-clip: padding-box;
 */    border: 1px solid rgba(0,0,0,.15);
    
}
