@media screen and (min-width: 992px) {
    .navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    }
}

nav {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
}
.navbar-toggler-icon {
    background-image: url(images/menu.png);
}
.my-moovs {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #bd0026;
    margin-bottom: 15px;
}

.my-moovs:hover {
    color: #bd0026;
}

.menu-parcourir {
    color: black;
    font-size: 18px;
}

.menu-parcourir:hover {
    color: black;
}

.form-control {
    border: 1px solid #bd0026;
    left:left;
}

.form-inline {
    display: flex;
    flex-wrap: nowrap;
}

.bouton-go {
    font-family: 'Pacifico', cursive;
    color: white;
    background-color: #bd0026;
}

.matt-damon {
    height: 60px;
    width: 60px;
}

.dropdown-menu {
    position: absolute;
    top: 100%; left: 50%;
    transform: translate(-50%);
    z-index: -1;
    display: none;
    min-width: 10rem;
    padding: 10px;;
    margin-top:0;
    font-size: 1.3rem;
    color: #bd0026;
    text-align: left;
    list-style: none;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid rgba(0,0,0,.15);
}

.menu-desktop {
    position: absolute;
    top: 100%; left: 40%;
    transform: translate(-50%);
    z-index: -1;
    display: none;
    min-width: 10rem;
    padding: 10px;;
    margin-top:0;
    font-size: 1.3rem;
    color: #bd0026;
    text-align: left;
    list-style: none;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid rgba(0,0,0,.15);
    width: 50%;
}

.btn-mobile:hover {
    color: #bd0026;
}

.hov-menu-desktop:hover {
    color: white;
    background-color: #bd0026;
}

.hov-menu-desktop {
    width: 183px;
}