.rectangle
{
	height: 200px;
	border: solid 1px #BA0025;
	border-radius: 5px;
}
 .description
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}
 .nav_movies
{
	color: #BA0025;
}
 .nav_movies:hover
{
	color: black;
}
 .rectangle
{
	overflow: auto;
}
/*  .affiches_size
{
	text-align: center;
}  */
.rectangle
{
	height: auto;
	border: solid 1px #BA0025;
	border-radius: 5px;
}

.description
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.img-thumbnail
{
	border-radius: 100%;
	box-shadow: 2px 2px 8px rgba(186, 0, 37, 0.5);
}

.img_profil
{
	width: 250px;
}

.nav_movies
{
	color: white;
	background-color: #F2F1F0;
	margin: 10px;
}

.nav_movies:hover, .nav-pills:hover .nav-link.active:hover
{
	color: white;
}

@media screen and (max-width: 774px)
{
	.navigation_links
	{
		display: block;
		text-align: center;
	}
}

.rectangle
{
	overflow: auto;
}

.btn-fb
{
  color: white;
  background-color: #3b5998;
  height: 40px;
}

.btn-fb:hover
{
  background-color: #BA0025;
  border-color: #BA0025;
  color: white;
}


.nav-pills .nav-link.active
{
	background-color: #BA0025;
}