.carousel-control-prev-icon {
    background-image: url(images/left-icone.png);
    cursor: pointer;
}

.carousel-control-next-icon {
    background-image: url(images/right-icone.png);
    cursor: pointer;
}

.carousel-control-next {
    width: 6%;
}

.carousel-control-prev {
    width: 6%;
}